:root {
    --header-color: rgba(100, 100, 100, 0.5);
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family:'Times New Roman', Times, serif;
}

h1 {
    font-size: 70px;
}

h2 {
    font-size: 60px;
}

h3 {
    font-size: 50px;
}

h4 {
    font-size: 40px;
}

h5 {
    font-size: 30px;
}

.flex-row {
    display: flex;
}

.flex-column {
    display: flex;
    flex-direction: column;
}

.j-center {
    justify-content: center;
}

.j-right {
    justify-content: right;
}

.j-left {
    justify-content: left;
}

.j-space-between {
    justify-content: space-between
}

.j-space-around {
    justify-content: space-around
}

.j-space-evenly {
    justify-content:space-evenly
}

.a-center {
    align-items: center;
}

.a-right {
    align-items: right;
}

.a-left {
    align-items: left;
}

.w-25 {
    width: 25%;
}

.w-50 {
    width: 50%;
}

.w-75 {
    width: 75%;
}

.w-100 {
    width: 100%;
}

.h-25 {
    height: 25%
}

.h-50 {
    height: 50%
}

.h-75 {
    height: 75%
}

.h-100 {
    height: 100%
}

.h-25vh {
    height: 25vh;
}

.h-50vh {
    height: 50vh;
}

.h-75vh {
    height: 75vh;
}

.h-100vh {
    height: 100vh;
}

.w-25vh {
    width: 25vh;
}

.w-50vh {
    width: 50vh;
}

.w-75vh {
    width: 75vh;
}

.w-100vh {
    width: 100vh;
}

.h-fit-content {
    height: fit-content
}

.w-fit-content {
    width: fit-content
}

.grid {
    display: inline-grid;
}

.grid-row-start {
    grid-row-start: auto;
}

body {
    max-height: 100vh;
}

header {
    width: 100%;
    height: 45vh;
    background: #83a4d4; 
    background: -webkit-linear-gradient(to right, #b6fbff, #83a4d4);
    background: linear-gradient(to right, #b6fbff, #83a4d4); 
    background-image: url("../images/raining-bg.jpg");
    background-size: cover;
    box-shadow: 70px 15px 70px 100px #fff inset;
}

header h1 {
    max-width: 100%;
    padding: 2rem;
}

.main-container {
    width: 100%;
    max-height: 100%;
}

.sidebar-container {
    width: 100%;
    max-height: 50%;
}

.search-container {
    display: flex;
    width: 100%;
    max-height: 100%;
}

.search-container h2 {
    width: 100%;
    margin: auto;
}

.weather-header {
    width: 75%;
}

.city-search {
    margin: auto;
    width: 50%;
}

.search {
    width: 100%;
    height: 50px;
    margin: 30px;
    background: none;
    border: none;
    font-size: 30px;
    border-bottom: solid black 1px;
}

.search:focus {
    outline: none;
}

.search-btn, .clear-results-btn {
    margin: 10px;
    height: 75px;
    font-size: 20px;
    font-weight: bold;
    border-radius: 10%;
    background: transparent;
    border: none;
}

.search-btn:hover, .clear-results-btn:hover {
    cursor: pointer;
}

.result-btn {
    height: 100px;
    margin: 10px;
    padding: 15px;
    background-color: rgba(235, 234, 241, 0.5);
    font-size: 20px;
    border: none;
    transition: .5sec
}

.result-btn:hover {
    transform: scale(1.2);
    transition: 250ms;
}

.clear-results-btn {
    width: 100%;
}

.weather-data-container {
    width: 75%;
    margin: 20px;
}

.right-column {
    background-color: rgba(16, 112, 202, 0.5);
    margin-left: 10px;
}

.right-column h4 {
    margin-left: 10px;
}

.right-column span {
    margin: 10px;
}

.left-column h1 {
    font-style: italic;
    background-color: rgba(16, 112, 202, 0.25);
}

.weather-tile {
    background-color: rgba(30, 14, 177, 0.5);
    width: 400px;
    margin: 10px;
    flex-basis: auto;
    border-radius: 10%;
    resize: both;
}

.weather-tile p {
    margin-left: 10px;
    margin-top: 15px;
    font-size: 20px;
    color: white;
    height: 75px;
}

#uv-index {
    border-radius: 10%;
}

.tile-container {
    width: 100%;
    display: grid;
    justify-items: center;
    align-items: center;
    grid-template-columns: repeat(6, auto);
    grid-gap: 20px;
}

.main-container {
    grid-column-start: 1;
    grid-column-end: 5
}

.current-container {
    margin: 30px;
    background-color: rgba(238, 235, 235, 0.5);
    border-radius: 10%;
    padding-left: 10px;
}

.current-container p {
    margin: 30px;
    font-size: 30px;
}

.current-container h5 {
    margin-right: 40px;
}

input {
    font-style: italic;
    color: rgba(0, 0, 0, 0.25)
}

.date {
    font-size: 15px;
    text-align: center;
}
